.container {
  min-height: 100vh;
  display: flex;
  background: linear-gradient(46deg,#1b2b97, #063188);
  flex-direction: column;
  background-image: url("/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FEFFFF;
}

.lMain {
  display:flex;
  justify-content: center;
  flex-grow: 1;
}

.main {
  max-width: 960px;
  width: 100%;
  min-height: 100%;
}

.mainTop {
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.mainLeft {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.mainImage {
  width: 150px;
  height: auto;
  margin: 10px;
}

.mainTextH2 {
  margin: 0px;
  font-size: 3rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-shadow: 1px 1px 1px black;
  line-height: 50px;
  text-align: center;
}

.mainTextH3 {
  margin: 0px;
  font-size: 2.3rem;
  font-family: 'Quicksand', sans-serif;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  font-weight: 700;
  line-height: 30px;
}

.mainTextH4 {
  text-align: center;
  margin: 0px;
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  text-shadow: 1px 1px 1px black;
  font-weight: 600;
  line-height: 30px;
  color: rgb(158, 44, 9);
}

.seeButton {
  cursor: pointer;
  margin-top: 20px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 60px;
  padding: 0px;
  border-radius: 15px;
  border: 1px solid black;
  transition:  0.5s;
  background:#dc3d4b;
  color: white;

}

.seeButton:hover {
  box-shadow: 0px 0px 5px black;
  transform: translateY(-10px) scale(1.05);
}

.anchor {
  height: 100%;
  width: 100%;
  text-shadow: 1px 1px 3px black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  
}

.gt {
  font-size: 2rem;
  margin-left: 10px;
  margin-bottom: 2px;
}

.table {
  border-collapse: collapse;
  border: 1px solid #205857;
  background-color: #2b7a78;
  margin: auto;
  margin: 30px auto 30px auto;
  display: none; /* remember to change */
}

.table caption {
  font-size: 2rem;
  color: #17252a;
}

.table th {
  padding: 5px;
  background-color: #205857;
}

.table td {
  padding: 5px 10px 5px 10px;
  border-top: 1px solid #205857;
  border-left: 1px solid #205857;
}


@media (max-width: 800px) {
  .mainImage {
    display: none;
  }
}

@media (max-width: 375px) {
  .mainTextH2 {
    font-size: 2.6rem;
  }
  .mainTextH3 {
    font-size: 2.1rem;
  }
  
}

@media (max-width: 340px) {
  .mainTextH2 {
    font-size: 2.5rem;
  }
  .mainTextH3 {
    font-size: 2.0rem;
  }
  
}

