.container {
  min-height: 100vh;
  display: flex;
  background-color: #3AAFA9;
  color: #FEFFFF;
}

.main {
  width: 100%;
}

.mainTop {
  width: 480px;
}

.mainLeft {
  float: left;
}

.mainImage {
  width: 200px;
  height: auto;
  float: right;
}

.mainTextH2 {
  margin: 0px;
  font-size: 3rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-shadow: 1px 1px 1px black;
  line-height: 50px;
  text-align: center;
}

.mainTextH3 {
  margin: 0px;
  font-size: 2.3rem;
  font-family: 'Quicksand', sans-serif;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  font-weight: 700;
  line-height: 30px;
}

.mainTextH4 {
  text-align: center;
  margin: 0px;
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  text-shadow: 1px 1px 1px black;
  font-weight: 600;
  line-height: 30px;
  color: #17252A;
}
